
/* GLOBAL */
* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

html, body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
.header__logo .header__sloganImg {
    float: right;
    margin-right: 120px;
}

.header__logo .header__logoImg {
    float: left;
    
}

.header__navbar ul a {
    text-decoration: none;
    color: #656363;
    text-transform: uppercase; 
    font-size: 1.13vw;
    /* 1 em = 1.13vw */

    /* font-size:16px
    1em = 16px */

    padding: 0 0.3em;
    font-weight: bold;
}

.header__navbar ul {
    list-style-type: none;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    padding: 15px 0;

}

.header__navbar ul li {
    display: inline;
  
    
}

.header__navbar ul li:hover {
    border-bottom: 2px solid #c6545b;
}

.header__navbar ul .active {
    border-bottom: 2px solid #c6545b;
}

/* responsive chu 
    vw, vh
    1vw = 1/100 man hinh trinh duyet
    laptop: 1200 tro len
*/